.chat {
  flex: .65;
  display: flex;
  flex-direction: column;
  height: 75vh;

  .chat__body {
    flex: 1;
    // background-image: url("https://web.whatsapp.com/img/bg-chat-tile-dark_9f39e76b5a0e039e53afc5d9d4bdd780.png");
    // background-repeat: repeat;
    // background-position: center;
    //background-color: lightgray;
    overflow: auto;
    padding: 30px;  
  }

  .chat__footer {

  }
}