.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  .sidebar__body {
    overflow: auto;
    position: relative;
    z-index: 1;
    flex: 1 1;
    order: 2;

    > div {
      position: absolute;
      top: 0;
      z-index: 100;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}