$social-btn-padding: 5px 10px;
$social-btn-border-radius: 20px;
$social-btn-width: 100%;
$social-btn-hover-bg-color: rgb(232, 243, 255);

$social-item-padding: 5px 0;

.social-btn {
  width: $social-btn-width;
  border: none;
  border-radius: $social-btn-border-radius;
  background: transparent;
  padding: $social-btn-padding;
  cursor: pointer;
  &:hover {
    border: none;
    background-color: $social-btn-hover-bg-color;
    outline: none;
  }
  &:active {
    border: none;
    outline: none;
    background-color: $social-btn-hover-bg-color;
  }
}

.social-item {
  border: none !important;
  padding: $social-item-padding;
}