$avatar-small-size: 24px;
$avatar-medium-size: 40px;
$avatar-large-size: 56px;

.avatar {
  object-fit: cover;
  object-position: top;

  &--small {
    width: $avatar-small-size;
    height: $avatar-small-size;
  }

  &--medium {
    width: $avatar-medium-size;
    height: $avatar-medium-size;
  }

  &--large {
    width: $avatar-large-size;
    height: $avatar-large-size;
  }
}