 // change the theme
// $theme-colors: (
//   "primary": #888888,
//   "danger": #ff4136
// );

// $link-color: #6c757d;
// $font-size-base: 0.9rem;

// $body-bg: #000;

@import 'sandstone/_variables';
@import '~bootstrap/scss/bootstrap.scss';
$enable-gradient: "true";

@import 'sandstone/_bootswatch';

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  &.full-container {
    height: calc(100vh - 124px) !important
  }
}

// .avatar {
//   align-items: center!important;
//   display: flex!important;
//   //font-weight: 700;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;

//   .avatar__icon {
//     width: 36px;
//     height: 36px;
//     margin-right: .5rem;
//   }
//   .avatar__header {
//     white-space: nowrap;
//     display: inline-block;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     font-size: 13px;
//   }
// }

.mw-4 {
  max-width: 40% !important;
}

.not-link {
  color: inherit;
  text-decoration: none !important;

  &:hover {
    color: inherit;
  }

  &:active {
    & * {
      color: rgb(219, 219, 219)
    }
  }
}

// AVATAR SIZE
.avatar__small {
  width: 24px !important;
  height: 24px !important;
}

.avatar__large {
  width: 56px !important;
  height: 56px !important;
}

.o-8 {
  opacity: 0.8;
}

strong {
  color: #262626;
  font-weight: 600;
}

button:focus {
  outline: none !important;
}