 @import 'bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flex-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 180px);
}

#root {
  margin-bottom: 80px;
}

.avatar {
  align-items: center!important;
  display: flex!important;
  //font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .avatar__icon {
    width: 48px;
    height: 48px;
    margin-right: .5rem;
  }
  .avatar__header {
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

// AVATAR SIZE
.avatar__small {
  width: 24px !important;
  height: 24px !important;
}

.avatar__large {
  width: 56px !important;
  height: 56px !important;
}