$card-content-wrapper-width: 100%;
$card-content-wrapper-max-height: 700px;

$username-color: #d83cbe;

$share-modal-max-width: 400px;

$react-swipeable-view-max-height: 700px;

.card-content-wrapper {
  position: relative;
  width: $card-content-wrapper-width;
  overflow: hidden;

  & > div {
    max-height: $card-content-wrapper-max-height;
  }
}

.username {
  color: $username-color;
}

.post-share-modal {
  max-width: $share-modal-max-width;
}

.react-swipeable-view-container {
  max-height: $react-swipeable-view-max-height;

  & img {
    object-fit: cover;
  }
}
