$react-player-controls-transition: .5s;
$react-player-btn-play-size: 8rem;
$react-player-btn-color: #e2dfdf;
$react-player-btn-mute-size: 2rem;
$react-player-btn-mute-margin: 10px;

$payable-content-width: 100%;
$payable-content-height: 500px;
$payable-content-bg-color: rgb(233, 233, 233);
$payable-content-z-index: 1;
$payable-content-icon-size: 6rem;
$payable-content-color: rgb(207, 207, 207);

.payable-content {
  width: $payable-content-width;
  height: $payable-content-height;
  background-color: $payable-content-bg-color;
  z-index: $payable-content-z-index;

  & > svg {
    font-size: $payable-content-icon-size;
    color: $payable-content-color
  }

  & > h1 {
    color: $payable-content-color
  }
}

.react-player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-player {
  pointer-events: none;
  video {
    object-fit: cover;
  }

  &__controls {
    position: absolute;
    transition: opacity $react-player-controls-transition;
    cursor: pointer;
    &--margin {
      left: $react-player-btn-mute-margin;
      bottom: $react-player-btn-mute-margin;
    }
  }

  &-btn-play {
    & > svg {
      font-size: $react-player-btn-play-size;
      color: $react-player-btn-color;
    }
  }

  &-btn-mute {
    & > svg {
      font-size: $react-player-btn-mute-size;
      color: $react-player-btn-color;
    }
  }
}
